In [7]:
import os
os.getcwd()

'c:\\Users\\hp\\Downloads\\archive (1)'

In [ ]:
import pandas as pd
df = pd.read_csv('asiacup.csv')
df.head()

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df = pd.read_csv('asiacup.csv')

In [ ]:
%pip install pandas

In [2]:
import pandas as pd
df = pd.read_csv("asiacup.csv")
df.head()

,Team,Opponent,Format,Ground,Year,Toss,Selection,Run Scored,Wicket Lost,Fours,Sixes,Extras,Run Rate,Avg Bat Strike Rate,Highest Score,Wicket Taken,Given Extras,Highest Individual wicket,Player Of The Match,Result
0,Pakistan,Sri Lanka,ODI,Sharjah,1984,Lose,Batting,187.0,9.0,9.0,3.0,21.0,4.06,52.04,47.0,5.0,26.0,2.0,Roy Dias,Lose
1,Sri Lanka,Pakistan,ODI,Sharjah,1984,Win,Bowling,190.0,5.0,11.0,1.0,26.0,4.36,68.51,57.0,9.0,21.0,3.0,Roy Dias,Win
2,India,Sri Lanka,ODI,Sharjah,1984,Win,Bowling,97.0,0.0,9.0,0.0,14.0,4.47,60.48,51.0,10.0,8.0,3.0,Surinder Khanna,Win
3,Sri Lanka,India,ODI,Sharjah,1984,Lose,Batting,96.0,10.0,7.0,0.0,8.0,2.34,25.74,38.0,0.0,14.0,0.0,Surinder Khanna,Lose
4,India,Pakistan,ODI,Sharjah,1984,Win,Batting,188.0,4.0,13.0,3.0,17.0,4.08,60.21,56.0,10.0,5.0,3.0,Surinder Khanna,Win

In [4]:
import pandas as pd

In [5]:
cup_info = pd.read_csv("champion.csv")

In [ ]:
df_batsman = pd.read_csv('batsman data odi.csv')
cond = df_batsman['Batting Average'] > 200
df_batsman.loc[cond]

NameError: name 'df_batsman' is not defined

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
numeric_cols = df_batsman.select_dtypes(include=['number']).columns[:5]
sns.pairplot(df_batsman[numeric_cols], diag_kind='hist')

plt.tight_layout()
plt.show()

NameError: name 'df_bat' is not defined