In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('covid19.csv')

In [8]:
print(df.head())

   Unnamed: 0      continent           country  cases.active  cases.critical  \
0           0           Asia             China      118977.0             NaN
1           1         Africa      Saint-Helena        2164.0             NaN
2           2  South-America  Falkland-Islands           0.0             NaN
3           3  North-America        Montserrat          19.0             NaN
4           4            NaN  Diamond-Princess           0.0             NaN

   cases.recovered  cases.total  deaths.total  population(k)  test.total (k)  \
0         379053.0       503302        5272.0    1448471.400      160000.000
1              2.0         2166           NaN          6.115             NaN
2           1930.0         1930           NaN          3.539           8.632
3           1376.0         1403           8.0          4.965          17.762
4            699.0          712          13.0            NaN             NaN

         date  time_hms
0  2026-01-22  05:00:13
1  2026-01-22  05:00:12
2  2026-01-22  05:00:12
3  2026-01-22  05:00:12
4  2026-01-22  05:00:12

In [9]:
print("Shape of the dataset:", df.shape
      )

Shape of the dataset: (237, 12)

In [10]:
print("Column:", df.columns
      )

Column: Index(['Unnamed: 0', 'continent', 'country', 'cases.active', 'cases.critical',
       'cases.recovered', 'cases.total', 'deaths.total', 'population(k)',
       'test.total (k)', 'date', 'time_hms'],
      dtype='str')

In [11]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       237 non-null    int64
 1   continent        236 non-null    str
 2   country          237 non-null    str
 3   cases.active     190 non-null    float64
 4   cases.critical   59 non-null     float64
 5   cases.recovered  189 non-null    float64
 6   cases.total      237 non-null    int64
 7   deaths.total     232 non-null    float64
 8   population(k)    229 non-null    float64
 9   test.total (k)   213 non-null    float64
 10  date             237 non-null    str
 11  time_hms         237 non-null    str
dtypes: float64(6), int64(2), str(4)
memory usage: 22.3 KB

In [12]:
df.describe()

,Unnamed: 0,cases.active,cases.critical,cases.recovered,cases.total,deaths.total,population(k),test.total (k)
count,237.000000,1.900000e+02,59.000000,1.890000e+02,2.370000e+02,2.320000e+02,2.290000e+02,2.130000e+02
mean,118.000000,2.650658e+05,1228.220339,1.011538e+07,8.920932e+06,9.065528e+04,3.469404e+04,3.298829e+04
std,68.560193,1.928390e+06,5046.844152,5.569789e+07,5.203699e+07,5.174256e+05,1.386374e+05,1.198779e+05
min,0.000000,0.000000e+00,1.000000,2.000000e+00,1.000000e+01,1.000000e+00,7.990000e-01,7.850000e+00
25%,59.000000,4.725000e+01,4.000000,2.310200e+04,2.767300e+04,2.272500e+02,4.454310e+02,3.478150e+02
50%,118.000000,6.675000e+02,16.000000,2.414860e+05,2.337310e+05,2.628000e+03,5.797805e+03,2.226216e+03
75%,177.000000,8.080250e+03,67.500000,2.152155e+06,1.581936e+06,1.821450e+04,2.210284e+04,1.346373e+04
max,236.000000,2.212340e+07,34794.000000,6.756198e+08,7.047539e+08,7.010681e+06,1.448471e+06,1.186852e+06

In [ ]:
# print null counts (fixed: call the method, not the method object)
print(df.isnull().sum())

<bound method DataFrame.isnull of      Unnamed: 0      continent           country  cases.active  \
0             0           Asia             China      118977.0
1             1         Africa      Saint-Helena        2164.0
2             2  South-America  Falkland-Islands           0.0
3             3  North-America        Montserrat          19.0
4             4            NaN  Diamond-Princess           0.0
..          ...            ...               ...           ...
232         232  South-America     South-America     2149962.0
233         233        Oceania           Oceania      110368.0
234         234         Africa            Africa      511224.0
235         235            All               All    22123398.0
236         236  North-America               USA      786167.0

     cases.critical  cases.recovered  cases.total  deaths.total  \
0               NaN         379053.0       503302        5272.0
1               NaN              2.0         2166           NaN
2               NaN           1930.0         1930           NaN
3               NaN           1376.0         1403           8.0
4               NaN            699.0          712          13.0
..              ...              ...          ...           ...
232          8953.0       66683585.0     70200879     1367332.0
233            31.0       14752388.0     14895771       33015.0
234           529.0       12090808.0     12860924      258892.0
235         34794.0      675619811.0    704753890     7010681.0
236           940.0      109814428.0    111820082     1219487.0

     population(k)  test.total (k)        date  time_hms
0      1448471.400      160000.000  2026-01-22  05:00:13
1            6.115             NaN  2026-01-22  05:00:12
2            3.539           8.632  2026-01-22  05:00:12
3            4.965          17.762  2026-01-22  05:00:12
4              NaN             NaN  2026-01-22  05:00:12
..             ...             ...         ...       ...
232            NaN             NaN  2026-01-22  05:00:02
233            NaN             NaN  2026-01-22  05:00:02
234            NaN             NaN  2026-01-22  05:00:02
235            NaN             NaN  2026-01-22  05:00:02
236     334805.269     1186851.502  2026-01-22  05:00:02

[237 rows x 12 columns]>

In [16]:
print((df.isnull().sum()/
      len(df))*100)

Unnamed: 0          0.000000
continent           0.421941
country             0.000000
cases.active       19.831224
cases.critical     75.105485
cases.recovered    20.253165
cases.total         0.000000
deaths.total        2.109705
population(k)       3.375527
test.total (k)     10.126582
date                0.000000
time_hms            0.000000
dtype: float64

In [1]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10, 6))
# convert x to strings and drop rows with missing x or y to avoid matplotlib type errors
x = df.iloc[:, 1]
y = df.iloc[:, 2]
mask = x.notna() & y.notna()
x = x[mask].astype(str)
y = y[mask]
plt.plot(x, y)
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

NameError: name 'df' is not defined